.green {
  background: linear-gradient(
    140deg,
    rgba(160, 226, 157, 0.487) 0%,
    rgba(1, 168, 97, 0.7036064425770308) 62%
  );
}

.pink {
  background: linear-gradient(
    140deg,
    rgba(255, 229, 252, 0.827) 20%,
    rgba(209, 141, 208, 0.8016456582633054) 68%
  );
}

.blue {
  background: linear-gradient(
    140deg,
    rgba(49, 87, 191, 0.723) 22%,
    rgba(126, 121, 196, 0.8744747899159664) 67%
  );
}

.yellow {
  background: linear-gradient(
    140deg,
    rgba(246, 252, 221, 0.855) 17%,
    rgba(190, 231, 19, 0.6251750700280112) 84%
  );
}

.brown {
  background: linear-gradient(
    140deg,
    rgba(184, 192, 150, 0.8548669467787114) 34%,
    rgba(96, 96, 67, 0.8800770308123249) 69%
  );
}

.white {
  background: linear-gradient(
    140deg,
    rgba(248, 253, 225, 0.855) 34%,
    rgba(214, 178, 178, 0.8016456582633054) 69%
  );
}

.purple {
  background: linear-gradient(
    140deg,
    rgba(235, 255, 255, 0.566) 20%,
    rgba(203, 160, 219, 0.8016456582633054) 68%
  );
}
