.button-with-icon {
  display: flex;
  align-items: center;
  padding: 3px;
  border: none;
  background-color: var(--main-button-bg);
}

.button {
  border-radius: 50%;

  &__session {
    position: relative;
    padding: 50px;
    border-radius: 30px;

    @media screen and (max-width: 340px) {
      border-radius: 5px;
      padding: 20px;
    }
  }

  &__theme-change {
    @extend .button-with-icon;
  }

  &__color {
    @extend .button-with-icon;
  }

  &__timer {
    @extend .button-with-icon;
    padding: 6px;
  }

  &__icon {
    @extend .button-with-icon;
  }
}
