li {
  list-style-type: none;
}

.button {
  border-radius: 50%;

  &__session {
    padding: 50px;
    border-radius: 30px;

    @media screen and (max-width: 305px) {
      border-radius: 5px;
      padding: 20px;
    }
  }

  &__music {
  }
}

.container {
  width: 100vw;
  height: 100vh;
  max-width: 500px;
  min-width: 105px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px;

  outline: 1px solid red;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;

  padding: 10px;

  overflow: hidden;
  outline: 1px red solid;
}

.color-picker {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }

  &__list {
    position: absolute;
    right: -90px;
    padding: 0;
  }
}

.session {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
}

.music__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
