li {
  list-style-type: none;
}

.button {
  border-radius: 50%;

  &__session {
    padding: 50px;
    border-radius: 10px;
  }

  &__music {
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0 auto;
  padding: 20px;
  width: 100vw;
  max-width: 500px;
  height: 100%;

  outline: 1px red solid;
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.color-picker {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }

  &__list {
    position: absolute;
    right: -90px;
    padding: 0;
  }
}

.button {
  &__color-picker {
  }
}

.session {
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
}

.music__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  position: absolute;
  bottom: 20px;
}
