.theme {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__list {
    position: absolute;
    right: -90px;
    padding: 0;
  }
}
