<div class="container">
  <div class="wrapper">
    <div class="color-picker__wrapper">
      <button type="button" class="button button__color-picker">1</button>
      <ul class="color-picker__list">
        <li class="color-picker__session">11111111</li>
        <li class="color-picker__bgc">22222222</li>
      </ul>
    </div>

    <div class="session__wrapper">
      <button type="button" class="button button__timer">1</button>
      <button type="button" class="button button__session"></button>
      <button type="button" class="button button__icon">2</button>
    </div>
    <button type="button" class="button button__music">1</button>
  </div>
</div>
