<div class="container">
  <div class="wrapper green" data-color="green">
    <div class="theme__wrapper">
      <button type="button" class="button button__info">
        <svg class="icon" width="26px" height="26px">
          <use href="./images/icons/symbol-defs.svg#icon-info"></use>
        </svg>
      </button>
      <button type="button" class="button button__color">
        <svg class="icon" width="22px" height="22px">
          <use href="./images/icons/symbol-defs.svg#icon-color-settings"></use>
        </svg>
      </button>
      <ul class="theme__list">
        <li class="theme__session">
          <ul class="theme__session-palette">
            <li class="session-palette__item">
              <button
                class="session-palette__button session-palette__button--green"
                type="button"
                data-color="green"
              ></button>
            </li>
            <li class="session-palette__item">
              <button
                class="session-palette__button session-palette__button--pink"
                type="button"
                data-color="pink"
              ></button>
            </li>
            <li class="session-palette__item">
              <button
                class="session-palette__button session-palette__button--blue"
                type="button"
                data-color="blue"
              ></button>
            </li>
            <li class="session-palette__item">
              <button
                class="session-palette__button session-palette__button--yellow"
                type="button"
                data-color="yellow"
              ></button>
            </li>
            <li class="session-palette__item">
              <button
                class="session-palette__button session-palette__button--brown"
                type="button"
                data-color="brown"
              ></button>
            </li>
            <li class="session-palette__item">
              <button
                class="session-palette__button session-palette__button--white"
                type="button"
                data-color="white"
              ></button>
            </li>
            <li class="session-palette__item">
              <button
                class="session-palette__button session-palette__button--purple"
                type="button"
                data-color="purple"
              ></button>
            </li>
          </ul>
        </li>
        <li class="theme__bgc">
          <ul class="theme__bgc-palette">
            <li class="bgc-palette__item">
              <button
                class="bgc-palette__button bgc-palette__button--green"
                type="button"
                data-color="green"
              ></button>
            </li>
            <li class="bgc-palette__item">
              <button
                class="bgc-palette__button bgc-palette__button--pink"
                type="button"
                data-color="pink"
              ></button>
            </li>
            <li class="bgc-palette__item">
              <button
                class="bgc-palette__button bgc-palette__button--blue"
                type="button"
                data-color="blue"
              ></button>
            </li>
            <li class="bgc-palette__item">
              <button
                class="bgc-palette__button bgc-palette__button--yellow"
                type="button"
                data-color="yellow"
              ></button>
            </li>
            <li class="bgc-palette__item">
              <button
                class="bgc-palette__button bgc-palette__button--brown"
                type="button"
                data-color="brown"
              ></button>
            </li>
            <li class="bgc-palette__item">
              <button
                class="bgc-palette__button bgc-palette__button--white"
                type="button"
                data-color="white"
              ></button>
            </li>
            <li class="bgc-palette__item">
              <button
                class="bgc-palette__button bgc-palette__button--purple"
                type="button"
                data-color="purple"
              ></button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="session__wrapper">
      <button type="button" class="button button__timer">
        <svg class="icon" width="22px" height="22px">
          <use href="./images/icons/symbol-defs.svg#icon-hour-glass"></use>
        </svg>
      </button>
      <button
        type="button"
        class="button button__session pink"
        data-color="pink"
      >
        <svg class="icon__session">
          <use href="./images/icons/symbol-defs.svg#icon-switch"></use>
        </svg>
      </button>
      <button type="button" class="button button__icon">
        <svg class="icon" width="22px" height="22px">
          <use href="./images/icons/symbol-defs.svg#icon-target"></use>
        </svg>
      </button>
    </div>
    <div class="music__wrapper">
      <div class="swiper-wrapper">
        <div class="swiper-slide music__item">
          <span class="music__name">Long name</span>
        </div>
        <div class="swiper-slide music__item">
          <span class="music__name">Long name</span>
        </div>
        <div class="swiper-slide music__item">
          <span class="music__name">Long name</span>
        </div>
        <div class="swiper-slide music__item">
          <span class="music__name">Long name</span>
        </div>
        <div class="swiper-slide music__item">
          <span class="music__name">Long name</span>
        </div>
      </div>
    </div>
  </div>
</div>
