<div class="music__wrapper">
  <div class="swiper-wrapper">
    <div class="swiper-slide music__item">
      <span class="music__name">Long name</span>
    </div>
    <div class="swiper-slide music__item">
      <span class="music__name">Long name</span>
    </div>
    <div class="swiper-slide music__item">
      <span class="music__name">Long name</span>
    </div>
    <div class="swiper-slide music__item">
      <span class="music__name">Long name</span>
    </div>
    <div class="swiper-slide music__item">
      <span class="music__name">Long name</span>
    </div>
  </div>
</div>
