<div class="form">
  <div class="form__wrapper">
    <input
      class="form__input"
      name="question"
      type="text"
      placeholder="Make one or choose"
    />
    <button class="button button__ask" type="submit">
      <svg class="icon" width="26px" height="26px">
        <use href="./images/icons/symbol-defs.svg#icon-ask"></use>
      </svg>
    </button>
  </div>
  <textarea
    class="form__textarea"
    name="answer"
    id="answer"
    cols="27"
    rows="10"
    resize="none"
  ></textarea>
</div>
