<div class="session__wrapper">
  <button type="button" class="button button__timer">
    <svg class="icon" width="22px" height="22px">
      <use href="./images/icons/symbol-defs.svg#icon-hour-glass"></use>
    </svg>
  </button>
  <button type="button" class="button button__session pink" data-color="pink">
    <svg class="icon__session">
      <use href="./images/icons/symbol-defs.svg#icon-switch"></use>
    </svg>
  </button>
  <button type="button" class="button button__icon">
    <svg class="icon" width="22px" height="22px">
      <use href="./images/icons/symbol-defs.svg#icon-target"></use>
    </svg>
  </button>
</div>
