<div class="timer__wrapper">
  <div class="swiper-wrapper">
    <div class="swiper-slide timer__item">
      <span class="timer__name">1</span>
    </div>
    <div class="swiper-slide timer__item">
      <span class="timer__name">5</span>
    </div>
    <div class="swiper-slide timer__item">
      <span class="timer__name">15</span>
    </div>
    <div class="swiper-slide timer__item">
      <span class="timer__name">30</span>
    </div>
    <div class="swiper-slide timer__item">
      <span class="timer__name">45</span>
    </div>
    <div class="swiper-slide timer__item">
      <span class="timer__name">60</span>
    </div>
  </div>
</div>
