.button-with-icon {
  display: flex;
  align-items: center;
  padding: 3px;
  border: 2px var(--main-button-border) solid;
  background: var(--main-button-bg);
  box-shadow: 0px 0px 10px 1px rgba(129, 69, 149, 0.75);
  transition: box-shadow 250ms cubic-bezier(0.165, 0.84, 0.44, 1);

  &:active {
    box-shadow: 0px 0px 10px 4px rgba(75, 55, 75, 0.75);
  }
}

.button {
  border-radius: 50%;

  &__session {
    position: relative;
    padding: 50px;
    border-radius: 30px;

    @media screen and (max-width: 360px) {
      border-radius: 5px;
      padding: 20px;
    }
  }

  &__info {
    @extend .button-with-icon;
  }

  &__color {
    @extend .button-with-icon;
  }

  &__timer {
    @extend .button-with-icon;
    padding: 6px;
  }

  &__icon {
    @extend .button-with-icon;
  }

  &__ask {
    @extend .button-with-icon;
    margin: 10px 0;
  }
}
