.form {
  position: absolute;
  max-width: 100%;

  top: 50%;
  left: 0%;

  transform: translate(-300px, -50%);
  transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
  }

  &__textarea {
    resize: none;
    max-width: 100%;
    border-radius: 10px;
  }
}

//for JS
.form__show {
  left: 50%;
  transform: translate(-50%, -50%);
}
