.session {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    transition: transform 250ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}
//for JS
.session__wrapper__hidden--right {
  transform: translateX(300px);
}

.session__wrapper__hidden--left {
  transform: translateX(-300px);
}
